*,
:after,
:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

body {
  box-sizing: border-box;
  font-size: 14px !important;
  font-family: 'Noto Sans Bengali', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  padding: auto;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}



/* Common Style */
.icons{
  color: gray;
  margin-right: 10px;
}
a{
  text-decoration: none !;
}
h2{
  font-family: 'k2d';
  text-align: center;
  font-weight: 800 !important;
  font-size: 40px !important;
}
h6{
  font-family: 'k2d';
  text-align: center;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.form-control{
  font-size: 13px !important;
}

/* =====Nav Bar Start====== */


/* Top small Nav */

@media only screen and (max-width : 600px) {
  body{
    margin-top: 11rem !important;
  }
    .top-small-nav{
      text-align: center;
    }
}
@media only screen and (min-width : 768px) {
  body{
    margin-top: 9rem !important;
  }
  .top_social_icon{
    display: flex;
    justify-content: end;
  }
}
@media only screen and (min-width : 1024px) {
  body{
    margin-top: 10rem !important;
  }
  .top_social_icon{
    display: flex;
    justify-content: end;
  }
}
@media only screen and (min-width : 1440px) {
  body{
    margin-top: 7.5rem !important;
  }
  .top_social_icon{
    display: flex;
    justify-content: end;
  }
}





.active:hover {
  color: #083f88 !important;
}

@media (min-width: 320px) {
  #web_logo {
    width: 180px;
  }

  .side_bars {
    display: none !important;
  }

  .dropdown_icon1 {
    display: none !important;
  }

  .dropdown_icon2 {
    display: inline !important;
  }

  .about {
    position: relative;
  }

  #dropdown_show {
    background-color: #083f88;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    position: absolute;
    left: 97.01%;
    top: 0px;
  }
}

@media (min-width: 400px) {
  #web_logo {
    width: 180px;
  }

  .side_bars {
    display: none !important;
  }

  .dropdown_icon1 {
    display: none !important;
  }

  .dropdown_icon2 {
    display: inline !important;
  }

  .about {
    position: relative;
  }

  #dropdown_show {
    background-color: #083f88;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    position: absolute;
    left: 97.01%;
    top: 0px;
  }
}


@media (min-width: 480px) {
  #web_logo {
    width: 220px;
  }

  .side_bars {
    display: none !important;
  }

  .dropdown_icon1 {
    display: none !important;
  }

  .dropdown_icon2 {
    display: none !important;
    text-decoration: none;
  }

  .about {
    position: relative;
  }

  #dropdown_show {
    background-color: #083f88;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    position: absolute;
    left: 96.01%;
    top: 0px;
  }
}


@media (max-width: 768px) {
  body {
  }

  #web_logo {
    width: 220px;
  }

  .side_bars {
    display: none !important;
  }

  .dropdown_icon1 {
    display: none !important;
  }

  .dropdown_icon2 {
    display: inline-flex !important;
  }

  .about {
    position: relative;
  }

  #dropdown_show {
    background-color: #083f88;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    position: absolute;
    left: 98.2%;
    top: 6px;

  }
}

@media (max-width: 1000px) {
  body {
  }

  #web_logo {
    width: 220px;
  }

  .side_bars {
    display: none !important;
  }

  .dropdown_icon1 {
    display: none !important;
  }

  .dropdown_icon2 {
    display: inline-flex !important;
  }

  .about {
    position: relative;
  }

  #dropdown_show {
    background-color: #083f88;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    position: absolute;
    left: 98.2%;
    top: 6px;
  }
}

@media (min-width: 992px) {
  body {
  }

  .web_logo {
    width: 250px;
  }

  .side_bars {
    display: none !important;
  }

  .dropdown_icon1 {
    display: inline !important;
  }

  .dropdown_icon2 {
    display: none !important;
  }

  #dropdown_show {
    display: none;
  }
}

@media (min-width: 1024px) {
  body {
  }

  #web_logo {
    width: 280px;
  }

  .side_bars {
    display: block !important;
  }

  .dropdown_icon1 {
    display: inline !important;
  }

  .dropdown_icon2 {
    display: none !important;
  }

  #dropdown_show {
    display: none;
  }
}

@media (min-width: 1200px) {
  #web_logo {
    width: 280px;
  }

  .side_bars {
    display: block !important;
  }

  .dropdown_icon1 {
    display: inline !important;
  }

  .dropdown_icon2 {
    display: none !important;
  }

  #dropdown_show {
    display: none;
  }
}

@media (min-width: 1440px) {

  #web_logo {
    width: 220px;
  }

  .side_bars {
    display: block !important;
  }

  .dropdown_icon1 {
    display: inline !important;
  }

  .dropdown_icon2 {
    display: none !important;
  }

  #dropdown_show {
    display: none;
  }
}

.side_bars:focus {
  color: #939393;
  background-color: #ffffffff;
  border-color: inherit;
  outline: 0;
  box-shadow: none !important;
}

.btn-close {
  color: #939393;
  background-color: #ffffffff;
  border-color: inherit;
  outline: 0;
  box-shadow: none !important;
}

.nav-option {
  margin-right: 15px;
}

.mobile_bar:focus {
  color: #939393;
  background-color: #ffffffff;
  border-color: inherit;
  outline: 0;
  box-shadow: none !important;
}

@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: .7s;
    margin-top: 0;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 100%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: .7s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}

.dropdown_item:hover {
  background-color: #083f88 !important;
  color: #ffffffff !important;
  border-radius: 5px;
  width: 230px;
}



.dropdown-box-item {
  width: 250px;
  padding: 10px !important;
  transition: 0.3s;
}

.dropdown_item {
  font-size: 14px;
  padding: 10px !important;
  transition: 0.5s;
}

#bar {
  background-color: #083f88;
}

#bar:hover {
  background-color: #00243A;
}

@media (min-width: 992px) {}

.offcanvas_text {
  text-align: justify;
}

#offcanvas_image {
  max-width: 100%;
}

/* =====Nav Bar End====== */

/* =====Slider Start===== */

.carousel-caption{
  bottom: 0 !important;
  margin-bottom: 0px;
  position: absolute;
  left: 0% !important;
  right: 0% !important;
  padding: 40px !important;
  /*setting alpha = 0.1*/
  background: rgba(125, 125, 125, 0.7);
}
.slider_title{
  font-family: 'k2d';
  font-weight: 800;
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.slider_content{
  color: rgb(0, 0, 0);
  font-size: 20px;
}
/* =====Slider End ===== */


/* =====Our Services Start===== */


.card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: .2s;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.service_dropdown{
  margin-top: 20px;
  text-decoration: none;
  color: #535353;
  transition: .3s;
}
.service_dropdown:hover{
  color: #fa2387;
}


.card-img-top{
  width: 75% !important;
  margin: auto;
  display: block;
  padding-bottom: 50px;
  padding-top: 50px;
}

/* =====Our Services end===== */

/* =====Are you ready to contact====== */
.home_page_contact_form{
  background-color: #fdfdfd;
}













/* ======Footer Start====== */
.follow_text {
  margin-top: 15px;
  font-size: 13px;
}

.footer_social_icon {
  padding-top: 1px !important;
  font-size: 25px;
  padding-left: 0px;
  padding-right: 7px !important;
}
.footer_link {
  text-decoration: none;
  color: #ffffffff;
  font-size: 13px;
  transition: .3s;
}

.footer_link:hover {
  color: #acacac;
}