body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

/* Common Matrials */

a{
    text-decoration: none;
}
.icon{
    color: gray;
    margin-right: 20px;
}


/* ====================== Navbar Start ====================*/

.navbar{
    background-color: #ffffffff;
    border: 0 !important;
}
/* ====================== Navbar End ====================*/





.ftco-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background: #ffffffff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 15px;
  }
  
  .ftco-navbar-light.scrolled .nav-item>.nav-link {
    color: #000 !important;
  }
  
  @media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled .nav-item>.nav-link {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 20px !important;
    }
  }
  
  .ftco-navbar-light.scrolled .nav-item.active>a {
    color: #083f88 !important;
  }
  
  .ftco-navbar-light.scrolled .nav-item.cta>a {
    color: #fff !important;
    background: #083f88;
    border: none !important;
    padding-top: 0.5rem !important;
    padding-bottom: .5rem !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-top: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }
  
  .ftco-navbar-light.scrolled .nav-item.cta>a span {
    display: inline-block;
    color: #fff !important;
  }
  
  .ftco-navbar-light.scrolled .nav-item.cta.cta-colored span {
    border-color: #083f88;
  }
  
  @media (max-width: 991.98px) {
    .ftco-navbar-light.scrolled .navbar-nav {
      background: none;
      border-radius: 0px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-left: 0 !important;
    }
  }
  
  .ftco-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: #ffffffff;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em;
  }
  
  .ftco-navbar-light.scrolled .nav-link {
    color: #000000 !important;
  }
  
  .ftco-navbar-light.scrolled .nav-link.active {
    color: #083f88 !important;
  }
  
  .ftco-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
  }
  
  .ftco-navbar-light.scrolled.sleep {
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
  }
  
  .ftco-navbar-light.scrolled .navbar-brand {
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 24px;
  }